@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap");

:root {
  --font-header-title: "Passion One", cursive;
  --font-header-text: Verdana, Geneva, Tahoma, sans-serif;
  --font-text: "Sriracha", cursive;
}

* {
  margin: 0;
  padding: 0;
}

hmtl,
body {
  min-height: 100vh;
}

header {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 15vw;
  min-height: 65px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

header > h1 {
  font-family: var(--font-header-title);
  font-size: 10vw;
  font-variant: small-caps;
}

header > p {
  font-family: var(--font-header-text);
  font-size: 1em;
  font-weight: 400;
  height: 20px;
}

header > p > a {
  color: white;
  text-decoration: none;
  font-family: var(--font-header-text);
  font-weight: bolder;
}

header > p > a:hover {
  text-decoration: underline;
}

section {
  padding: 86px 0px 95px 30px;
}

section > p {
  font-family: var(--font-text);
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 7vw;
  padding: 5px;
}

.section-1,
.section-3 {
  background-color: rgb(255, 255, 255);
}

.section-3 > p,
.section-5 > p {
  padding: 1px 0px 8vw 0px;
}

.section-2,
.section-4 {
  background: black url(imagens/background001.jpg) right center fixed;
  background-size: cover;
  box-shadow: 2px 3px 10px #00000082 inset;
  color: white;
}

.section-4 {
  background: black url(imagens/background002.jpg) left center fixed;
  background-size: cover;
  color: white;
}

.section-2 > p,
.section-4 > p {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.501);
  border: 1px solid black;
}

footer {
  background-color: black;
  max-height: 100vw;
}

footer > p {
  color: white;
  font-family: var(--font-header-text);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 15px;
  padding: 10px 15px;
}

footer > p > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

footer > p > a:hover {
  text-decoration: underline;
}
